@use "./colors" as *;
@use "./midia_queries" as *;

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    margin-block-end: 2.5rem;
    align-items: center;
  }

  &__button-menu {
    display: block;

    @include desktop {
      display: none;
    }
  }

  &__list {
    display: none;
    list-style: none;

    @include desktop {
      display: flex;
      gap: 2rem;
      align-items: center;
    }
  }

  &__list-item a {
    color: $neutral-off-white;
    transition: all ease-in-out 300ms;

    @include desktop {
      color: $neutral-dark-grayish-blue;
      font-size: 1.1em;
    }
  }

  &__list-item a:focus,
  &__list-item a:hover {
    color: $primary-soft-red;
  }
}
