@use "./colors" as *;
@use "./midia_queries" as *;

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    margin-block-end: 2.5rem;
    align-items: center;
  }

  &__button-menu {
    display: block;

    @include desktop {
      display: none;
    }
  }

  &__list {
    display: none;
    list-style: none;

    @include desktop {
      display: flex;
      gap: 2rem;
      align-items: center;
    }
  }

  &__list.active {
    display: block;
    position: absolute;
    right: 0;
    background-color: $neutral-grayish-blue;
    width: 50%;
    height: 100vh;
  }

  &__list-item a {
    color: $neutral-off-white;

    @include desktop {
      color: $neutral-dark-grayish-blue;
    }
  }

  &__list-item a:focus,
  &__list-item a:hover {
    color: $primary-soft-red;
  }
}
