@use "./colors" as *;

.intro {
  & > * {
    margin-block-start: 1rem;
  }

  &__title {
    font-weight: 800;
    font-size: 2.5em;
    line-height: 1;
    color: $neutral-very-dark-blue;
  }

  &__paragraph {
    line-height: 1.6;
    font-size: 0.95em;
    color: $neutral-very-dark-blue;
  }

  &__button {
    background-color: $primary-soft-red;
    color: $neutral-off-white;
    padding: 0.7rem 2rem;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: all ease-in-out 300ms;

    &:hover,
    &:focus {
      background-color: $neutral-very-dark-blue;
    }
  }
}
