@use "./colors" as *;
@use "./midia_queries" as *;

.intro {
  @include desktop {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  picture {
    @include desktop {
      grid-column: 1 / 3;
    }
  }

  & > * {
    margin-block-start: 1rem;
  }

  &__title {
    font-weight: 800;
    font-size: 2.5em;
    line-height: 1;
    color: $neutral-very-dark-blue;

    @include desktop {
      grid-row: 2 / 4 span;
      font-size: 4.1em;
    }
  }

  &__paragraph {
    line-height: 1.6;
    font-size: 0.95em;
    color: $neutral-very-dark-blue;
  }

  &__button {
    background-color: $primary-soft-red;
    color: $neutral-off-white;
    padding: 0.7rem 2rem;
    font-size: 0.9em;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    transition: all ease-in-out 300ms;

    &:hover,
    &:focus {
      background-color: $neutral-very-dark-blue;
    }

    @include desktop {
      grid-column: -2;
    }
  }
}
