@use "../scss" as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-size: 15px;
  font-family: "Inter", sans-serif;
}

.wrapper {
  padding: 3rem 0;
}

.container {
  width: 90%;
  margin-inline: auto;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  outline: transparent;
  font: inherit;
  cursor: pointer;
  background: transparent;
  display: block;
  height: fit-content;
}

button:focus,
button:hover {
  outline: 1px solid $primary-soft-orange;
}
